---
layout: default
---

<h2>{{ page.title }}</h2>

{% include page-intro.html %}

{{ content }}

<section>

  <h3>
{% assign categories_array = "" | split:"|" %}
{% for post in site.news %}
    {{ post.content }}
{% endfor %}
section = {{page.section}}
    {%if page.section == 'productions' %}
      
      {% assign items = site.productions %}
      {% assign item = site.production %}
    {%elsif page.section == 'news'%}
      
      <!-- {% assign items = site.stories %}
      {% assign item = site.story %} -->
    {%else %}
      
      <!-- {% assign items = site.classes %}
      {% assign item = site.class %} -->
    
    {% endif %}

  </h3>

  <ul>
    {% for item in items %}
    {% assign author = site.data.authors[item.author] %}
      <li>
        <h4><a href="{{ item.url }}">{{ item.title }}</a></h4>
        <time datetime="{{ item.date }}">
          <small>
            <strong>{{ item.date | date_to_string }}</strong>
            {% if author %}
              by {{ item.name }}
            {% endif %}
          </small>
        </time>
        {{ item.excerpt | strip_newlines | truncate: 180 }}
      </li>
    {% endfor %}
  </ul>

</section>
