---
layout: default
---

<h2>{{ page.title }}</h2>

{% include page-intro.html %}

{{ content }}

<section>

  <h3>
    {% assign categories_array = "" | split:"|" %}
    {% for post in site.posts %}
       label =  {{ post.label }}<br/>
    {% endfor %}
  </h3>
section = {{page.section}}
    {%if page.section == 'productions' %}
      
      {% assign items = site.productions %}
      {% assign item = site.production %}
    {%elsif page.section == 'news'%}
      
      <!-- {% assign items = site.stories %}
      {% assign item = site.story %} -->
    {%else %}
      
      <!-- {% assign items = site.classes %}
      {% assign item = site.class %} -->
    
    {% endif %}

 

  <ul>
    {% for post in site.posts %}
      {{ post.label }}k<br/>
      {% if post.label == 'story' %}
        {% assign author = site.data.authors[post.author] %}
          <li>
            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
            <time datetime="{{ itpostem.date }}">
              <small>
                <strong>{{ post.date | date_to_string }}</strong>
                {% if author %}
                  by {{ post.name }}
                {% endif %}
              </small>
            </time>
            {{ post.excerpt | strip_newlines | truncate: 180 }}
          </li>
      {% endif %}
    {% endfor %}
  </ul>

</section>
